In [16]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd

In [20]:
transactions = [['milk', 'bread', 'water'],['coffe', 'sugar' ],['burgers', 'eggs']]
transactions

[['milk', 'bread', 'water'], ['coffe', 'sugar'], ['burgers', 'eggs']]

In [21]:
support_threshold = 0.004

In [23]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
te_ary

array([[ True, False, False, False,  True, False,  True],
       [False, False,  True, False, False,  True, False],
       [False,  True, False,  True, False, False, False]])

In [24]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   bread  burgers  coffe   eggs   milk  sugar  water
0   True    False  False  False   True  False   True
1  False    False   True  False  False   True  False
2  False     True  False   True  False  False  False

In [38]:
# apriori
frequent_itemsets = apriori(df, min_support=support_threshold, use_colnames=True)
print(frequent_itemsets) #dataframe with the itemsets

     support              itemsets
0   0.333333               (bread)
1   0.333333             (burgers)
2   0.333333               (coffe)
3   0.333333                (eggs)
4   0.333333                (milk)
5   0.333333               (sugar)
6   0.333333               (water)
7   0.333333         (bread, milk)
8   0.333333        (water, bread)
9   0.333333       (burgers, eggs)
10  0.333333        (sugar, coffe)
11  0.333333         (water, milk)
12  0.333333  (water, bread, milk)

In [40]:
#association_rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)
print(rules)

       antecedents     consequents  antecedent support  consequent support  \
0          (bread)          (milk)            0.333333            0.333333
1           (milk)         (bread)            0.333333            0.333333
2          (water)         (bread)            0.333333            0.333333
3          (bread)         (water)            0.333333            0.333333
4        (burgers)          (eggs)            0.333333            0.333333
5           (eggs)       (burgers)            0.333333            0.333333
6          (sugar)         (coffe)            0.333333            0.333333
7          (coffe)         (sugar)            0.333333            0.333333
8          (water)          (milk)            0.333333            0.333333
9           (milk)         (water)            0.333333            0.333333
10  (water, bread)          (milk)            0.333333            0.333333
11   (water, milk)         (bread)            0.333333            0.333333
12   (bread, milk)         (water)            0.333333            0.333333
13         (water)   (bread, milk)            0.333333            0.333333
14         (bread)   (water, milk)            0.333333            0.333333
15          (milk)  (water, bread)            0.333333            0.333333

     support  confidence  lift  leverage  conviction
0   0.333333         1.0   3.0  0.222222         inf
1   0.333333         1.0   3.0  0.222222         inf
2   0.333333         1.0   3.0  0.222222         inf
3   0.333333         1.0   3.0  0.222222         inf
4   0.333333         1.0   3.0  0.222222         inf
5   0.333333         1.0   3.0  0.222222         inf
6   0.333333         1.0   3.0  0.222222         inf
7   0.333333         1.0   3.0  0.222222         inf
8   0.333333         1.0   3.0  0.222222         inf
9   0.333333         1.0   3.0  0.222222         inf
10  0.333333         1.0   3.0  0.222222         inf
11  0.333333         1.0   3.0  0.222222         inf
12  0.333333         1.0   3.0  0.222222         inf
13  0.333333         1.0   3.0  0.222222         inf
14  0.333333         1.0   3.0  0.222222         inf
15  0.333333         1.0   3.0  0.222222         inf

In [37]:
lift = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
print(lift) #dataframe with confidence, lift, conviction and leverage metrics calculated

       antecedents     consequents  antecedent support  consequent support  \
0          (bread)          (milk)            0.333333            0.333333
1           (milk)         (bread)            0.333333            0.333333
2          (water)         (bread)            0.333333            0.333333
3          (bread)         (water)            0.333333            0.333333
4        (burgers)          (eggs)            0.333333            0.333333
5           (eggs)       (burgers)            0.333333            0.333333
6          (sugar)         (coffe)            0.333333            0.333333
7          (coffe)         (sugar)            0.333333            0.333333
8          (water)          (milk)            0.333333            0.333333
9           (milk)         (water)            0.333333            0.333333
10  (water, bread)          (milk)            0.333333            0.333333
11   (water, milk)         (bread)            0.333333            0.333333
12   (bread, milk)         (water)            0.333333            0.333333
13         (water)   (bread, milk)            0.333333            0.333333
14         (bread)   (water, milk)            0.333333            0.333333
15          (milk)  (water, bread)            0.333333            0.333333

     support  confidence  lift  leverage  conviction
0   0.333333         1.0   3.0  0.222222         inf
1   0.333333         1.0   3.0  0.222222         inf
2   0.333333         1.0   3.0  0.222222         inf
3   0.333333         1.0   3.0  0.222222         inf
4   0.333333         1.0   3.0  0.222222         inf
5   0.333333         1.0   3.0  0.222222         inf
6   0.333333         1.0   3.0  0.222222         inf
7   0.333333         1.0   3.0  0.222222         inf
8   0.333333         1.0   3.0  0.222222         inf
9   0.333333         1.0   3.0  0.222222         inf
10  0.333333         1.0   3.0  0.222222         inf
11  0.333333         1.0   3.0  0.222222         inf
12  0.333333         1.0   3.0  0.222222         inf
13  0.333333         1.0   3.0  0.222222         inf
14  0.333333         1.0   3.0  0.222222         inf
15  0.333333         1.0   3.0  0.222222         inf